<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/img/logo.png" alt="Logo" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="loginForm">
    <ion-card>
      <ion-card-content>

        <ion-row>
          <ion-col>
            <ion-input
            type="email"
            label="email"
            placeholder="example@prueba.com"
            labelPlacement="floating"
            formControlName="email">
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input
            type="password"
            label="Password"
            placeholder="********"
            labelPlacement="floating"
            formControlName="password"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button
            type="submit"
            color="primary"
            [disabled]="loginForm.invalid"
            >Login</ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
