ion-toolbar img {
  height: 80px;
  filter: drop-shadow(0px 4px 8px rgba(147, 197, 224, 1));
  box-shadow: 0px 6px 20px rgba(147, 197, 224, 0.9);
  border-bottom: 2px solid rgba(147, 197, 224, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

ion-title {
  margin-top: 20px;
}

/*
Error tras error ando tirando
pa olvidarme de ella...
pa olidarme de ella...
A gpt bien arto traigo ya, me dice guey para de sofocarme
pero yo no quierooooo, pa ser sinceros yo ni puedoooo.
*/

ion-card {
  margin-top: 20px;
}

a{
  font-size: 11px;
}
